#menus{
	.portlet.light .form .form-body{
        padding-left:20px!important;
        padding-right:20px!important;
	}
 
    .input-group-btn:last-child > .btn{
        height: 34px;
    }
}

.display{
	display: block !important;
}