<div class="col-md-12 text-right margin-bottom-10">
    <a href="#" class="btn blue" ng-if="userPermission && userPermission.isAdmin && !isEditProfile" ng-click="openModalAddRole()">Select
        Role</a>
</div>
<div class="table-scrollable">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col" class="width35 text-left"> Role Name </th>
                <th scope="col" class="width55 text-left"> Description </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="uRole in userRoles">
                <td class="width35 text-left"> {{uRole.name}} </td>
                <td class="width55 text-left"> {{uRole.description}} </td>
            </tr>
            <tr ng-if="userRoles.length === 0">
                <td colspan="2">User does not have any role assigned</td>
            </tr>
        </tbody>
    </table>
</div>