<div class="modal-header">
        <div class="caption caption-md">
            <span class="icon-globe theme-font hide"></span>
            <span class="caption-subject font-blue-madison bold uppercase">Tracking Activities</span>
            <button type="button" class="close"aria-hidden="true" ng-click="eTrackingVm.close()"></button>
        </div>
        <br>
    </div>
    <div class="modal-body" id="modal-body" style="overflow-x:auto; height: calc(95vh - 140px);">
       <div class="portlet-body">
            <div class="timeline" ng-if="eTrackingVm.dataModel.length > 0">
                <div class="timeline-item" ng-repeat="item in eTrackingVm.dataModel">
                    <div class="timeline-badge">
                        <div class="timeline-icon">
                            <div class="time font-blue-madison">
                                {{item.timestampString || formatTrackingTime(item.$id)}}
                            </div>
                        </div>
                    </div>
                    <div class="timeline-body">
                        <div class="timeline-body-arrow"></div>
                        <div class="timeline-body-head">
                            <div class="timeline-body-head-caption">
                                <a href="javascript:;" class="timeline-body-title font-blue-madison">{{eTrackingVm.titleText[item.action]}}</a>
                            </div>
                            <span class="timeline-body-time font-grey-cascade" style="float:right;">Modified By: <a href="#" ng-click="goToEmployee(item.modifiedBy)"><strong>{{item.modifiedBy}}</strong></a></span>
                        </div>
                        <div class="timeline-body-content">
                            <div class="row">
                                <div class="form-group col-md-12" ng-if="item.message !== '' && item.message !== undefinded">
                                    <label class="control-label">
                                        Message: {{item.message}}
                                    </label>
                                </div>
                                <div class="form-group changed-field" ng-repeat="field in item.fields" ng-class="{'col-xs-12 col-sm-6 col-md-6': field.field !== 'name' && field.field !== 'description' && field.field !== 'representativeAttended', 'col-xs-12 col-sm-12 col-md-12': field.field === 'name' || field.field === 'description' || field.field === 'representativeAttended'}">
                                    <label class="control-label text-capitalize">
                                      {{eTrackingVm.fieldText[field.field] || field.field}}:
                                    </label>
                                    <span class="font-yellow-gold" ng-if="field.field !== 'name' && field.field !== 'description' && field.field !== 'representativeAttended' && field.field !== 'requester'  && field.field !== 'areaManager' && field.field !== 'startDate' && field.field !== 'endDate' && field.field !== 'state' && field.field !== 'region' && field.field !== 'type' && field.field !== 'facilityId' && field.field !== 'territory' && field.field !== 'sysTotalRevenue' && field.field !== 'iptTotalRevenue' && field.field !== 'estTotalRevenue' && field.field !== 'sysCloseRate' && field.field !== 'iptCloseRate' && field.field !== 'status' && field.field !== 'verifyStatus'"><strong><s>{{field.old}}</s> - {{field.new}}</strong></span>
                                    <span class="font-yellow-gold" ng-if="field.field === 'startDate' || field.field === 'endDate'"><strong><s>{{field.old | date: 'MM/dd/yyyy hh:mm a'}}</s> - {{field.new | date: 'MM/dd/yyyy hh:mm a'}}</strong></span>
                                    <span class="font-yellow-gold" ng-if="field.field === 'facilityId'"><strong><s>{{eTrackingVm.getFacility(field.old)}}</s> - {{eTrackingVm.getFacility(field.new)}}</strong></span>
                                    <span class="font-yellow-gold" ng-if="field.field === 'state'"><strong><s>{{eTrackingVm.getState(field.old)}}</s> - {{eTrackingVm.getState(field.new)}}</strong></span>
                                    <span class="font-yellow-gold" ng-if="field.field === 'region'"><strong><s>{{eTrackingVm.getRegion(field.oldState, field.old)}}</s> - {{eTrackingVm.getRegion(field.newState, field.new)}}</strong></span>
                                    <span class="font-yellow-gold" ng-if="field.field === 'type'"><strong><s>{{eTrackingVm.getType(field.old)}}</s> - {{eTrackingVm.getType(field.new)}}</strong></span>
                                    <span class="font-yellow-gold" ng-if="field.field === 'territory'"><strong><s>{{eTrackingVm.getTerritory(field.old)}}</s> - {{eTrackingVm.getTerritory(field.new)}}</strong></span>
                                    <span class="font-yellow-gold" ng-if="field.field === 'status'"><strong><s>{{eTrackingVm.getStatus(field.old)}}</s> - {{eTrackingVm.getStatus(field.new)}}</strong></span>
                                    <span class="font-yellow-gold" ng-if="field.field === 'verifyStatus'"><strong><s>{{eTrackingVm.getVerifyStatus(field.old)}}</s> - {{eTrackingVm.getVerifyStatus(field.new)}}</strong></span>
                                    <span class="font-yellow-gold" ng-if="field.field === 'sysTotalRevenue' || field.field === 'iptTotalRevenue' || field.field === 'estTotalRevenue'"><strong><s>{{field.old | currency}}</s> - {{field.new | currency}}</strong></span>
                                    <span class="font-yellow-gold" ng-if="field.field === 'sysCloseRate' || field.field === 'iptCloseRate'"><strong><s>{{field.old}}%</s> - {{field.new}}%</strong></span>
                                    <p class="font-yellow-gold" ng-if="field.field === 'name' || field.field === 'description'" title="{{field.old}}"><strong><s>{{field.old}}</s></strong></p>
                                    <p class="font-yellow-gold" ng-if="field.field === 'name' || field.field === 'description'" title="{{field.new}}"><strong>{{field.new}}</strong></p>
                                    <p class="font-yellow-gold" ng-if="field.field === 'representativeAttended' || field.field === 'requester' || field.field === 'areaManager'" title="{{getRequesterInfo(field.old)}}"><strong><s>{{getRequesterInfo(field.old)}}</s></strong></p>
                                    <p class="font-yellow-gold" ng-if="field.field === 'representativeAttended' || field.field === 'requester' || field.field === 'areaManager'" title="{{getRequesterInfo(field.new)}}"><strong>{{getRequesterInfo(field.new)}}</strong></p>
                                </div>
                                <div class="form-group col-md-12">
                                    <label class="control-label">
                                        Source: 
                                    </label>
                                    <span class="font-green-jungle">{{item.from || 'App'}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-body-footer">
                            <p>
                                <label class="control-label" ng-if="item.deviceInfo && item.deviceInfo.os">
                                    OS:
                                    <span class="font-blue-madison"><strong>{{item.deviceInfo && item.deviceInfo.os}}</strong></span>
                                </label>
                                <label class="control-label" ng-if="item.deviceInfo && item.deviceInfo.osVersion">
                                    OS Version:
                                    <span class="font-blue-madison"><strong>{{item.deviceInfo && item.deviceInfo.osVersion}}</strong></span>
                                </label>
                                <label class="control-label" ng-if="item.deviceInfo && item.deviceInfo.deviceName">
                                    Device Name:
                                    <span class="font-blue-madison"><strong>{{item.deviceInfo && item.deviceInfo.deviceName}}</strong></span>
                                </label>
                                <label class="control-label" ng-if="item.deviceInfo && item.deviceInfo.buildVersion">
                                    Build Version:
                                    <span class="font-blue-madison"><strong>{{item.deviceInfo && item.deviceInfo.buildVersion}}</strong></span>
                                </label>
                                <label class="control-label" ng-if="item.deviceInfo && item.deviceInfo.appVersion">
                                        App Version:
                                    <span class="font-blue-madison"><strong>{{item.deviceInfo && item.deviceInfo.appVersion}}</strong></span>
                                </label>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="no-result font-grey-cascade" ng-if="eTrackingVm.dataModel.length == 0">
                No records
            </div>
       </div>
    </div>
    <div class="modal-footer">
        <button class="btn dark btn-outline" type="button" ng-click="eTrackingVm.close()">Cancel</button>
    </div>
    