<!-- BEGIN PAGE SPINNER -->
<div ng-spinner-bar class="page-spinner-bar">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
</div>
<!-- END PAGE SPINNER -->
<!-- END PAGE SPINNER -->
<!-- BEGIN HEADER -->
<div data-ng-include="'app/layout/header.tpl.html'" ng-if="settings.layout.showHeader" data-ng-controller="HeaderController" class="page-header navbar navbar-fixed-top"> </div>
<!-- END HEADER -->
<div class="clearfix"> </div>

<!-- BEGIN CONTAINER -->
<div class="page-container" style="min-height: calc(100vh - 110px);">
    <!-- BEGIN SIDEBAR -->
    
    <div ng-if="settings.layout.showSideBar" data-ng-include="'app/layout/sidebar.tpl.html'" data-ng-controller="SidebarController" class="page-sidebar-wrapper"> </div>
    <!-- END SIDEBAR -->
    <div class="page-content-wrapper">
        <div class="page-content" ng-class="{'no-margin-left': !settings.layout.showSideBar, 'no-padding-top': !settings.layout.showPageHead}">

            <!--<div class="pull-left col-sm-12" ng-class="{'widthminus467': settings.layout.showSmartphone}">-->
            <div class="pull-left col-xs-12 col-sm-12">
                <!-- BEGIN PAGE HEAD -->
                <div ng-if="settings.layout.showPageHead" data-ng-include="'app/layout/page-head.tpl.html'" data-ng-controller="PageHeadController" class="page-head"> </div>
                <!-- END PAGE HEAD -->
                <!-- BEGIN ACTUAL CONTENT -->
                <div ui-view class=""></div>
                <!-- END ACTUAL CONTENT -->
            </div>

            <!--<div class="ios-frame hidden-sm" ng-class="{'hidden': !settings.layout.showSmartphone}">
                <iframe src="https://smartapp-79daf.firebaseapp.com/app/" height="568" width="320" class="ios-iframe"></iframe>
            </div>-->
        </div>
    </div>
    <!-- BEGIN QUICK SIDEBAR -->
    <!--<a href="javascript:;" class="page-quick-sidebar-toggler">
        <i class="icon-login"></i>
    </a>-->
    <div data-ng-include="'app/layout/quick-sidebar.tpl.html'" data-ng-controller="QuickSidebarController" class="page-quick-sidebar-wrapper"></div>
    <!-- END QUICK SIDEBAR -->
</div>
<!-- END CONTAINER -->

<!-- BEGIN FOOTER -->
<div data-ng-include="'app/layout/footer.tpl.html'" data-ng-controller="FooterController" class="page-footer text-center"> </div>
<!-- END FOOTER -->
