#ReplaysComment{
	.replay-text{
		word-break: break-all;
	}
	.replay-time{
	   margin: 8px 0px;
	}
}

#PostComment{
	.comment-text{
		word-break: break-all;
	}
	.comment-time{
	  margin: 8px 0px;
	}
}