#saleRegion{
    ul.sale-region-item{
        border-radius: 0px;
        list-style: none;
        li {
            display: block;
            margin: 0;
            padding: 0;
            border: 0px;
            position: relative;
            .arrow{
                position: relative;
                top: 25px;
            }
            .arrow.open:before{
                content: "\f0d7";
                margin-right: 6px;
            }
            .arrow:before{
                width: 10px;
                margin-right: 10px;
                margin-left: 10px;
                display: inline;
                font-size: 16px;
                font-family: FontAwesome;
                height: auto;
                content: "\f0da";
                font-weight: 300;
                text-shadow: none;
            }
        }

        .item-content{
            display: inline-flex;
            width: 100%;
            top:-17px;
            div{
                margin: 10px 18px;
            }
            .item-info{
                p{margin: 0;}
            }
            .action-tools{
                width: 180px;
                .badge{
                    padding: 4px 8px;
                    height: 20px;
                    border-radius: 4px !important;
                }
            }
        }
    }
    ul.sale-region-state{
        border-radius: 0px;
        list-style: none;
        display: none;
    }
    ul.sale-region-state.display{
        display: block !important;
    }
    ul.sale-region-territory{
        border-radius: 0px;
        list-style: none;
        display: none;
    }
    ul.sale-region-territory.display{
       display: block !important;
    }
}