<div class="modal-header">
    <button type="button" class="close" aria-hidden="true" ng-click="close()"></button>
    <div class="caption caption-md">
        <i class="icon-globe theme-font hide"></i>
        <span class="caption-subject font-blue-madison bold uppercase">Original Image</span>
    </div>
</div>
<div class="modal-body" id="modal-body" style="text-align: center !important;">
      <canvas id="canvas-original-image"></canvas>
</div>
<div class="modal-footer">
    <a href="javascript:;" class="btn btn-icon-only blue" title="rotate" style="width: 65px;" ng-click="rotate()">
         <i class="fa fa-repeat"></i>
    </a>
    <button class="btn dark btn-outline" type="button" ng-click="close()">Close</button>
</div>
