<div class="modal-header">
    <div class="caption caption-md">
        <i class="icon-globe theme-font hide"></i>
        <span class="caption-subject font-blue-madison bold uppercase">Tracking Activities</span>
        <button type="button" class="close"aria-hidden="true" ng-click="close()"></button>
    </div>
    <br>
</div>
<div class="modal-body" id="modal-body" style="overflow-x:auto; height: calc(90vh - 140px);">
   <div class="portlet-body">
        <div class="timeline" ng-if="dataModel.length > 0">
            <div class="timeline-item" ng-repeat="item in dataModel">
                <div class="timeline-badge">
                    <div class="timeline-icon">
                        <div class="time font-blue-madison">
                            {{item.timestampString || formatTrackingTime(item.$id)}}
                        </div>
                    </div>
                </div>
                <div class="timeline-body">
                    <div class="timeline-body-arrow"></div>
                    <div class="timeline-body-head">
                        <div class="timeline-body-head-caption">
                            <a href="javascript:;" class="timeline-body-title font-blue-madison">{{getAction(item.eventType)}}</a>
                            <span class="font-yellow-gold bold">{{getSubTitle(item)}}</span>
                        </div>
                        <span class="timeline-body-time font-grey-cascade" style="float:right;">Author: <a href="#" ng-click="goToEmployee(item.authorName)"><strong>{{item.authorName}}</strong></a></span>
                    </div>
                    <div class="timeline-body-content">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label class="control-label">
                                    Status:
                                </label>
                                <span class="font-green-jungle"><strong>{{getStatusApp(item.status)}}</strong></span>
                            </div>
                            <div class="form-group col-md-12" ng-if="!isSubmitEvent(item) && item.message">
                                <label class="control-label" ng-class="{'font-red' : isErrorMesage(item), 'font-green-jungle' : !isErrorMesage(item)}">
                                    {{item.message}}
                                </label>
                            </div>
                            <div class="form-group col-md-12" ng-if="isSubmitEvent(item) && !_.isUndefined(item.submitResult)">
                                <label class="control-label">
                                    Submitted:
                                </label>
                                <span class="font-red" ng-if="item.submitResult.toLowerCase() === 'failed'"><strong>{{item.submitResult}} ({{item.message}})</strong></span>
                                <span class="font-green-jungle" ng-if="item.submitResult.toLowerCase() === 'success'"><strong>{{item.submitResult}}</strong></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">
                                    Source:
                                </label>
                                <span>{{item.from || 'App'}}</span>
                            </div>
                            <div class="form-group col-md-6 text-right" style="word-break: break-all;" ng-if="item.mediaId && allowDownloadImg && userPermission.isAccessPermission" ng-init="initMedia(item)">
                                <a title="Download" ng-if="item.downloadUrl" href="#" ng-click="downloadImageWithCustomName(item.downloadUrl,item.fileName)">
                                    {{item.fileName}} <i class="margin-left-10 fa fa-download"></i>
                                </a>
                            </div> 
                        </div>
                    </div>
                    <div class="timeline-body-footer">
                        <p>
                            <label class="control-label" ng-if="item.deviceInfo && item.deviceInfo.os">
                                OS:
                                <span class="font-blue-madison"><strong>{{item.deviceInfo && item.deviceInfo.os}}</strong></span>
                            </label>
                            <label class="control-label" ng-if="item.deviceInfo && item.deviceInfo.osVersion">
                                OS Version:
                                <span class="font-blue-madison"><strong>{{item.deviceInfo && item.deviceInfo.osVersion}}</strong></span>
                            </label>
                            <label class="control-label" ng-if="item.deviceInfo && item.deviceInfo.deviceName">
                                Device Name:
                                <span class="font-blue-madison"><strong>{{item.deviceInfo && item.deviceInfo.deviceName}}</strong></span>
                            </label>
                            <label class="control-label" ng-if="item.deviceInfo && item.deviceInfo.buildVersion">
                                Build Version:
                                <span class="font-blue-madison"><strong>{{item.deviceInfo && item.deviceInfo.buildVersion}}</strong></span>
                            </label>
                            <label class="control-label" ng-if="item.deviceInfo && item.deviceInfo.appVersion">
                                    App Version:
                                <span class="font-blue-madison"><strong>{{item.deviceInfo && item.deviceInfo.appVersion}}</strong></span>
                            </label>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="no-result font-grey-cascade" ng-if="dataModel.length == 0">
            No records
        </div>
   </div>
</div>
<div class="modal-footer">
    <button class="btn dark btn-outline" type="button" ng-click="close()">Cancel</button>
</div>
