
.mt-element-card .mt-card-item {
  border: 1px solid;
  border-color: #e7ecf1;
  position: relative;
  margin-bottom: 30px; }
  .mt-element-card .mt-card-item .mt-card-avatar {
    margin-bottom: 15px; }
  .mt-element-card .mt-card-item .mt-card-content {
    text-align: center; }
    .mt-element-card .mt-card-item .mt-card-content .mt-card-name {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 10px; }
    .mt-element-card .mt-card-item .mt-card-content .mt-card-desc {
      font-size: 14px;
      margin: 0 0 10px 0; }
    .mt-element-card .mt-card-item .mt-card-content .mt-card-social > ul {
      padding: 0;
      margin-bottom: 10px; }
      .mt-element-card .mt-card-item .mt-card-content .mt-card-social > ul > li {
        list-style: none;
        display: inline-block;
        margin: 0 3px; }
        .mt-element-card .mt-card-item .mt-card-content .mt-card-social > ul > li > a {
          color: #000;
          font-size: 18px; }
          .mt-element-card .mt-card-item .mt-card-content .mt-card-social > ul > li > a.mt-card-btn {
            color: #fff; }
            .mt-element-card .mt-card-item .mt-card-content .mt-card-social > ul > li > a.mt-card-btn:hover {
              color: #36c6d3; }
          .mt-element-card .mt-card-item .mt-card-content .mt-card-social > ul > li > a:hover {
            color: #F1C40F; }

.mt-element-card.mt-card-round .mt-card-item {
  padding: 40px 40px 10px 40px; }
  .mt-element-card.mt-card-round .mt-card-item .mt-card-avatar {
    border-radius: 50% !important;
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC); }
    .mt-element-card.mt-card-round .mt-card-item .mt-card-avatar .mt-overlay {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%; }
