.ios-frame{
    float:right; 
    background: rgba(0, 0, 0, 0) url('../img/devices-sprite.png') no-repeat scroll center top / 467px auto; 
    height: 800px; 
    margin: 0 auto;  
    width: 467px;
}
.ios-iframe{
    border:0px; 
    margin-top:85px; 
    margin-left:73px;
}