<div class="modal-header">
        <div class="caption caption-md">
            <i class="icon-globe theme-font hide"></i>
            <span class="caption-subject font-blue-madison bold uppercase">Sale Region</span>
        </div>
    </div>
    <div class="modal-body" id="modal-body">
        <form role="form" id="createForm" name="createForm" novalidate>
            <div class="form-group col-md-12">
                <label class="control-label">State</label>
                <input type="text" name="name" placeholder="Name" class="form-control" disabled ng-model="vm.selectedState.name" />
            </div>
            <div class="form-group col-md-12" ng-class="{'has-error': vm.showInvalid && createForm.territory.$error.required}">
                <label class="control-label">Territories</label>
                <select ng-model="vm.selectedTerritories" name="territory" ui-select2 multiple id="ChooseTerritorySaleRegion"
                    class="form-control" data-placeholder="Choose Territories" ng-options="territory.id as territory.name for (key, territory) in vm.territories">
                    <option value="">Choose Territories</option>
                </select>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn green" type="submit" ng-click="vm.save(createForm)">Save</button>
        <button class="btn dark btn-outline" type="button" ng-click="vm.close()">Cancel</button>
    </div>