.recipes{
    auto-complete-div{
        .default-style {
            input {
                width: 100% !important;
            }
            ul{
                overflow: scroll;
                max-height: 200px;
            }
        }
    }
}