.cats-tree{
	list-style:none;
	padding-left: 30px;
	.line{
		border-left: 1px dotted gray;
    	padding-left: 5px;
	}

	.item-cat{
		display: inline-flex;
		width: 100%;
		span.child-line {
		    border-top: 1px dotted #808080;
		    top: 10px;
		    width: 10px;
		    display: block;
		    position: relative;
		    left: -4px;
		}
		
		.action-tools,.modified-time{
			text-align: right;
		}
	}
}